/* home.css */

.home-container {
  background-image: url("https://img.freepik.com/premium-photo/orange-guitar-blue-speakers-amid-balls-tape-pink-backdrop-generative-ai_786587-8763.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0; /* Remove any default margin */
}

.highlighted-text {
  color: #ff5733;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

.description {
  color: #ffffff;
  max-width: 600px;
  margin-bottom: 30px;
}

.cta-container {
  display: flex;
  gap: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5733;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e64a2e;
}

.cta-link {
  color: #ff5733;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.cta-link:hover {
  text-decoration: underline;
}

.h1 {
  font-size: 20;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.learn-more-container {
  margin-bottom: 20px;
}
